body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
div,
main,
section,
ul,
li {
  margin: 0;
  padding: 0;
  display: flex;
}
main,
section,
.column {
  flex-direction: column;
}

li {
  list-style-type: none;
}

a,
button,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
